
<!--header and navigation bar-->
{% load static %}
<header>
	<ul class="custom-header-ul">
		<li>*bisadhgedey@gmail.com*</li>
		<li>*contactinfo:98216354685*</li>
	</ul>
</header>


<nav>
	<!-- <img src="#" alternate="Logo"> -->
	<a class="tablinks" href="home"><img class="custom-logo" src="{% static 'img/logo.png' %}" alt="Logo Here"></a>
	<div class="custom-nav-ul">
		<a class="tablinks" href="donor"><i class="fas fa-hands-helping fa-lg"></i> Become Donor</a>
		<a class="tablinks" href="liveRequest"><i class="fas fa-heartbeat fa-lg"></i> Live Requests</a>
		<a class="tablinks" href="requestDonor"><i class="fas fa-hand-holding-water fa-lg"></i> Request Plasma</a>
		<a class="tablinks" href=""><i class="fas fa-info fa-lg" style="margin-right: 6px;">
		</i>  About Us </a>
	</div>
</nav>

