<!DOCTYPE html>
<html>
<head>
	<title>SaathiTimro</title>
	<link rel = "icon" href = "img/blood-drop.svg" type = "image/x-icon">
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="style.css">
	<!-- Js -->
	<script type="text/javascript" src="main.js">
	</script>
	<!-- icons -->
	<script src="https://kit.fontawesome.com/7f9e9439f9.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
	<!-- fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>

<body onload="showContent(event, 'home')">

<!--  notification message here -->
<!-- {% if message %} -->
<!-- <div class="alert">
	<button class="fas fa-times" id ="close-pointer" onclick="closeMessage()"></button>

	if condition here for determining message type

			{% if message.sucess %}

			<p class="alert-sucess"> Sucess Notifications here</p>

			{% end if %}

			{% if message.fail %}

			<p class="alert-fail"> Fail Notifications here </p>

			{% endif %}

			{% if message.warn %}

			<p class="alert-warn">Warning Notifications here </p>

			{% endif %}

</div> -->
<!-- {% endif %} -->

<!-- header and navigation bar -->

<header>
	<ul class="custom-header-ul">
		<li>*bisadhgedey@gmail.com*</li>
		<li>*contactinfo:98216354685*</li>
	</ul>
</header>


<nav>
	<!-- <img src="#" alternate="Logo"> -->
	<a class="tablinks" href="/">
		<img class="custom-logo" src="{% static 'img/logo.png'%}" alt="Logo Here"></a>
	<div class="custom-nav-ul">
		<a class="tablinks" href="donor"><i class="fas fa-hands-helping fa-lg"></i> Become Donor</a>
		<a class="tablinks" href="liverequest"><i class="fas fa-heartbeat fa-lg"></i> Live Requests</a>
		<a class="tablinks" href="request"><i class="fas fa-hand-holding-water fa-lg"></i> Request Plasma</a>
		<a class="tablinks" href=""><i class="fas fa-info fa-lg" style="margin-right: 6px;">
		</i>  About Us </a>
	</div>
</nav>


<!-- content of the page -->
<section class="page-content">

	<div class="tabcontent" id="aboutUs" style="margin-top: 20px;">
		<h1>About us</h1>
		<p>Help each other</p>
	</div>

</section>
